.loader {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 10vmin;
	height: 10vmin;
}
.loader_text{
    position: absolute;
    top: 52%;
    left: 50.7%;
    transform: translate(-50%, 50%);
}

.loader-el {
	--origin-x: center;
	--origin-y: center;

	width: 8px;
	height: 8px;
	position: absolute;
	top: calc(50% - 4px);
	left: calc(50% - 4px);
	animation: spin 0.6s linear infinite;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		animation: spin 1s ease-out infinite;
		transform-origin: var(--origin-x) var(--origin-y);
		background-color: #ffa500;
	}

	&:nth-child(1) {
		&::before {
			--origin-y: -100%;
		}

		&::after {
			--origin-y: 200%;
		}
	}

	&:nth-child(2) {
		&::before {
			--origin-x: -100%;
		}

		&::after {
			--origin-x: 200%;
		}
	}
}

// html,
// body {
// 	width: 100%;
// 	height: 100%;
// 	display: flex;
// 	background-image: linear-gradient(
// 		45deg,
// 		ghostwhite,
// 		mintcream,
// 		linen,
// 		seashell
// 	);
// }

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}