main {
    position: relative;
    left: 15%;
    display: flex;
    bottom: 5%;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    
    
    opacity: 0.9;
    background-color: #ffffff;
}
/* ::selection {
    color: #fff;
    background-color: #ffffff;
} */
.google-map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 200px;
    background-color: #eee;
    transition: 2000ms;
    cursor: grab;
}
.google-map .map-frame {
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 5px;
    
}

.google-map .maps {
    position: relative;
    width: 90vw;
    height: 90vh;
    pointer-events: visibleStroke;
}


/* ------------------ */
/* Interactive Effect */
/* ------------------ */

.google-map:hover {
    width: 70vw;
    height: 60vh;
    border-radius: 10px;
}

/* map dark */
.maps{
    filter: grayscale(100%) invert(92%) contrast(90%);
}

/* blank */
.blank{
    margin-top: 5%;
    margin-bottom: 5%;
}
.blank h2{
    text-align: center;
    font-weight: bolder;
}
.blank p{
    text-align: center;
    color: #F24259;
    font-weight: 600;
}
.blank span{
    color: #F24259;
}